<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodos Numericos</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- <header>
        <h1>ANALISIS DE ERRORES</h1>
    </header>

    <div id="options">
        <button type="button" class=" btn btn-primary">Punto flotante</button>
        <button type="button" class=" btn btn-primary">Punto 2</button>
        <button type="button" class=" btn btn-primary">Punto 3</button>
    </div> -->

    <header>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <div class="nav-link active" id="decimal-a-flotante" data-toggle="tab">decimal a punto Flotante</div>
            </li>
            <li class="nav-item">
                <div class="nav-link" id="flotante-a-decimal" data-toggle="tab">punto flotante a decimal</div>
            </li>
            <li class="nav-item">
                <div class="nav-link" id="epsilon">calcular epsilon</div>
            </li>

        </ul>
        <div id="myTabContent" class="tab-content">

        </div>
    </header>

    <div id="main">
        <div class="card boder-primary mb-3" style="max-width: 500px; border-radius:15px;">
            <form action="">
                <div class="card-header">
                    <h3 class="card-title">Deciaml a Punto Flotante</h3>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <fieldset>
                            <input class="form-control" type="text" name="numero" placeholder="Numero">
                        </fieldset>
                    </div>

                    <div class="form-group">
                        <fieldset>
                            <input class="form-control" type="text" name="numero" placeholder="Numero">
                        </fieldset>
                    </div>

                    <div class="form-group">
                        <fieldset>
                            <input class="form-control" type="text" name="numero" placeholder="Numero">
                        </fieldset>
                    </div>
                    <input class="btn btn-primary border" type="submit" value="Enviar">
                </div>
            </form>
        </div>

        <div>
            <h2>Resultado:</h2>
            <div class="card border-secondary mb-3" style="max-width: 300px;">
                <div class="card-body">
                    valor
                </div>
            </div>
            <button class="btn btn-outline-primary">ver procedimiento</button>
        </div>



        <!-- <div class="card border-secondary mb-3" style="max-width: 500px;">
            <div class="card-header">
                <h3 class="title">Pasos</h2>
            </div>
            <div class="card-body">
                <p>
                    <b>Numero: </b> []<br>
                    <b>Paso 1:</b> se convierte el numero [] en Binario<br> Numero Binario:[] <br>
                    <b>Paso 2:</b> Se normaliza el numero binario [] rodando la coma(.)[exponente] obteniendo la normalizacion. <br> Numero Normalizado:[] <br>
                    <b>Paso 3:</b> se saca el signo[] <br>
                    <b>Paso 4:</b> Se saca la mantisa del numero binario normalizado <br> Mantisa: [] <br>
                    <b>Paso 5:</b> El exponente tiene un tamaño [] Bits, sacamos el exponente maximo dividiendo [valor de exponente]/2 =[resultado] <br>
                    <b>Paso 6:</b> Luego para sacar el exponente sumamos exponente maximo entre [e es 2^6 no se como llamarlo] [exp_max]+[e]=[resultado de exp] <br>
                    <b>Paso 7:</b> luego convertimos [resultado exp] a binario. <br> Exp: [exp en binario]
                </p>
            </div>

        </div> -->
    </div>

    <script>
        let main = document.querySelector('#main');
        let decimalAFlotante = document.querySelector('#decimal-a-flotante');
        let flotanteADecimal = document.querySelector('#flotante-a-decimal');
        let epsilon = document.querySelector('#epsilon');;

        let TemplateDecimalAFlotante = `
            <div class="card boder-primary mb-3" style="max-width: 500px; border-radius:15px;">
                <form action="">
                    <div class="card-header">
                        <h3 class="card-title">Deciaml a Punto Flotante</h3>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <fieldset>
                                <input class="form-control" type="text" name="numero" placeholder="Numero">
                            </fieldset>
                        </div>

                        <div class="form-group">
                            <fieldset>
                                <input class="form-control" type="text" name="numero" placeholder="Numero">
                            </fieldset>
                        </div>

                        <div class="form-group">
                            <fieldset>
                                <input class="form-control" type="text" name="numero" placeholder="Numero">
                            </fieldset>
                        </div>
                        <input class="btn btn-primary border" type="submit" value="Enviar">
                    </div>
                </form>
            </div>

            <div>
                <h2>Resultado:</h2>
                <div class="card border-secondary mb-3" style="max-width: 300px;">
                    <div class="card-body">
                        valor
                    </div>
                </div>
                <button class="btn btn-outline-primary">ver procedimiento</button>
            </div>



            <!-- <div class="card border-secondary mb-3" style="max-width: 500px;">
                <div class="card-header">
                    <h3 class="title">Pasos</h2>
                </div>
                <div class="card-body">
                    <p>
                        <b>Numero: </b> []<br>
                        <b>Paso 1:</b> se convierte el numero [] en Binario<br> Numero Binario:[] <br>
                        <b>Paso 2:</b> Se normaliza el numero binario [] rodando la coma(.)[exponente] obteniendo la normalizacion. <br> Numero Normalizado:[] <br>
                        <b>Paso 3:</b> se saca el signo[] <br>
                        <b>Paso 4:</b> Se saca la mantisa del numero binario normalizado <br> Mantisa: [] <br>
                        <b>Paso 5:</b> El exponente tiene un tamaño [] Bits, sacamos el exponente maximo dividiendo [valor de exponente]/2 =[resultado] <br>
                        <b>Paso 6:</b> Luego para sacar el exponente sumamos exponente maximo entre [e es 2^6 no se como llamarlo] [exp_max]+[e]=[resultado de exp] <br>
                        <b>Paso 7:</b> luego convertimos [resultado exp] a binario. <br> Exp: [exp en binario]
                    </p>
                </div>

            </div> -->
        `

        let TemplateFlotanteADecimal = `
        <div class="card boder-primary mb-3" style="max-width: 500px; border-radius:15px;">
            <form action="">
                <div class="card-header">
                    <h3 class="card-title">Punto Flotante a decimal</h3>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <fieldset>
                            <input class="form-control" type="text" name="numero" placeholder="Numero">
                        </fieldset>
                    </div>
                    <input class="btn btn-primary border" type="submit" value="Enviar">
                </div>
            </form>
        </div>

        <div>
            <h2>Resultado:</h2>
            <div class="card border-secondary mb-3" style="max-width: 300px;">
                <div class="card-body">
                    valor
                </div>
            </div>
            <button class="btn btn-outline-primary">ver procedimiento</button>
        </div>



        <!-- <div class="card border-secondary mb-3" style="max-width: 500px;">
            <div class="card-header">
                <h3 class="title">Pasos</h2>
            </div>
            <div class="card-body">
                <p>
                    <b>Numero: </b> []<br>
                    <b>Paso 1:</b> se convierte el numero [] en Binario<br> Numero Binario:[] <br>
                    <b>Paso 2:</b> Se normaliza el numero binario [] rodando la coma(.)[exponente] obteniendo la normalizacion. <br> Numero Normalizado:[] <br>
                    <b>Paso 3:</b> se saca el signo[] <br>
                    <b>Paso 4:</b> Se saca la mantisa del numero binario normalizado <br> Mantisa: [] <br>
                    <b>Paso 5:</b> El exponente tiene un tamaño [] Bits, sacamos el exponente maximo dividiendo [valor de exponente]/2 =[resultado] <br>
                    <b>Paso 6:</b> Luego para sacar el exponente sumamos exponente maximo entre [e es 2^6 no se como llamarlo] [exp_max]+[e]=[resultado de exp] <br>
                    <b>Paso 7:</b> luego convertimos [resultado exp] a binario. <br> Exp: [exp en binario]
                </p>
            </div>

        </div> -->
        `
        decimalAFlotante.addEventListener('click', () => {

            if (!decimalAFlotante.classList.contains('active')) {
                if (flotanteADecimal.classList.contains('active')) {
                    flotanteADecimal.classList.remove('active');

                } else {
                    epsilon.classList.remove('active');
                }
                decimalAFlotante.classList.add('active')
            }
            main.innerHTML = TemplateDecimalAFlotante;

        });

        flotanteADecimal.addEventListener('click', () => {
            if (!flotanteADecimal.classList.contains('active')) {
                if (decimalAFlotante.classList.contains('active')) {
                    decimalAFlotante.classList.remove('active');

                } else {
                    epsilon.classList.remove('active');
                }
                flotanteADecimal.classList.add('active')
            }
            main.innerHTML = TemplateFlotanteADecimal;
        });

        epsilon.addEventListener('click', () => {
            if (!epsilon.classList.contains('active')) {
                if (flotanteADecimal.classList.contains('active')) {
                    flotanteADecimal.classList.remove('active');
                } else {
                    decimalAFlotante.classList.remove('active');
                }
                epsilon.classList.add('active')
            }
            main.innerHTML = "";
        });
    </script>
</body>

</html>