header {
    display: flex;
    justify-content: center;
}

#options {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

#main {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    cursor: pointer;
}

#result {
    display: flex;
}

footer {
    margin-left: 20px;
    display: block;
    position: absolute;
    bottom: 1em;
}